.App {
  text-align: center;
}

body {
  background-color: burlywood;
}

h1, p {
  color: #fff;
  letter-spacing: 5rem;
}

h2 {
  color: #fff;
  letter-spacing: 2.5rem;
}

h3 {
  color: #fff;
  letter-spacing: 1.5rem;
}